# === AnyRouter ===
ANYROUTER_ACCOUNT="account_1#account_2#..."
ANYROUTER_COOKIE="cookies_1#cookies_2#..."

# === Facai ===
FACAI_ACCOUNT="account_1#account_2#..."
FACAI_COOKIE="cookies_1#cookies_2#..."
FACAI_USERID="userid_1#userid_2#..."
